$main-text-color: #ffffff;
$second-text-color: #28A745;

$font-family-openSans: Open Sans;

$mobile: 320px;
$tablet: 768px;
$desktop: 1360px;

$mobile-padding: 20px;
$tablet-padding: 40px;
$desktop-padding: 25px;