<!-- Contact -->
<section class="contact">
    <div class="container">
        <div class="contact-wrapper">
            <h2 class="contact__title">Request Callback</h2>
            <form name="contact" method="POST" data-netlify="true" class="form">
                <div class="form__field">
                  <input id="name" class="form__input" type="text" name="name" placeholder=" " />
                <label for="name" class="form__label">Enter your name</label>
                </div>
                <div class="form__field">
                  <input id="email" class="form__input" type="email" name="email" placeholder=" " />
                <label for="email" class="form__label">Enter email*</label>
                <p class="form__input_required visually-hidden">
                    This is a required field
                </p>
            </div>
            <button class="button-primary contact__button" type="submit">Send</button>
            </form>
        </div>
    </div>
</section>