<!-- Footer -->
<footer class="footer">
    <ul class="social-list footer-social-list list">
        <li class="social-item"><a href="https://www.facebook.com/" target="_blank" aria-label="facebook"><i
                    class="fa-brands fa-facebook social-item__icon social-icon"></i></a></li>
                    <li class="social-item"><a href="https://www.twitter.com/" target="_blank" aria-label="twitter"><i
                                class="fa-brands fa-twitter social-item__icon social-icon"></i></a></li>
                    <li class="social-item"><a href="https://www.youtube.com/" target="_blank" aria-label="youtube"><i
                                class="fa-brands fa-youtube social-item__icon social-icon"></i></a></li>
                    <li class="social-item"><a href="https://www.linkedin.com/" target="_blank" aria-label="linkedin"><i
                                class="fa-brands fa-linkedin-in social-item__icon social-icon"></i></a></li>
    </ul>
    <p class="footer__text">Copyright &#169; 2021 - FinanceLedger</p>
</footer>
