<!-- header -->
<header class="header">
      <div class="header__container">
        <nav class="header-nav">
          <a class="logo" href="./index.html">
            <svg width="40" height="35" aria-label="logo">
            <use class="logo__icon" href="./images/icons.svg#icon-logo"></use>
          </svg>
          <span class="logo__text">Finance</span> Ledger</a>
          <ul class="nav-menu list">
            <li class="nav-menu__item"><a href="#home" class="nav-menu__link link">Home</a></li>
            <li class="nav-menu__item"><a href="#about" class="nav-menu__link link">About</a></li>
            <li class="nav-menu__item"><a href="#cases" class="nav-menu__link link">Cases</a></li>
            <li class="nav-menu__item"><a href="#blog" class="nav-menu__link link">Blog</a></li>
            <li class="nav-menu__item"><a href="#contact" class="nav-menu__link link">Contact</a></li>
         </ul>
        </nav>
      </div>
</header>
