<!-- Team -->
<section class="team">
    <div class="container">
        <h3 class="team__question">Who we are</h3>
        <h2 class="team__title">Our Professional Team</h2>
        <p class="team__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
        <ul class="team-list list">
            <li class="team-item">
                <div class="team-thumb">
                    <picture class="picture">
                        <source srcset="./images/team/person1.webp 1x 640w, ./images/team/person1@2x.webp 2x 1280w"
                            sizes="640px" type="image/webp">
                        <source srcset="./images/team/person1.jpg 1x 640w, ./images/team/person1@2x.jpg 2x 1280w"
                            sizes="640px">
                        <img class="team-thumb__img" src="./images/team/person1.jpg" alt="John Doe" sizes="640px">
                    </picture>
                    <div class="team-thumb__overlay">
                        <ul class="social-list list">
                            <li class="social-item"><a href="https://www.facebook.com/" target="_blank" aria-label="facebook"><i class="fa-brands fa-facebook social-item__icon"></i></a></li>
                            <li class="social-item"><a href="https://www.twitter.com/" target="_blank" aria-label="twitter"><i class="fa-brands fa-twitter social-item__icon"></i></a></li>
                            <li class="social-item"><a href="https://www.youtube.com/" target="_blank" aria-label="youtube"><i class="fa-brands fa-youtube social-item__icon"></i></a></li>
                            <li class="social-item"><a href="https://www.linkedin.com/" target="_blank" aria-label="linkedin"><i class="fa-brands fa-linkedin-in social-item__icon"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-box  team-box--first">
                    <h3 class="team-box__name">John Doe</h3>
                    <p class="team-box__profession">President</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-thumb">
                    <picture class="picture">
                        <source srcset="./images/team/person2.webp 1x 640w, ./images/team/person2@2x.webp 2x 1280w" sizes="640px"
                            type="image/webp">
                        <source srcset="./images/team/person2.jpg 1x 640w, ./images/team/person2@2x.jpg 2x 1280w" sizes="640px">
                        <img class="team-thumb__img" src="./images/team/person2.jpg" alt="Jane Doe" sizes="640px">
                    </picture>
                    <div class="team-thumb__overlay">
                        <ul class="social-list list">
                            <li class="social-item"><a href="https://www.facebook.com/" target="_blank" aria-label="facebook"><i
                                        class="fa-brands fa-facebook social-item__icon"></i></a></li>
                            <li class="social-item"><a href="https://www.twitter.com/" target="_blank" aria-label="twitter"><i
                                        class="fa-brands fa-twitter social-item__icon"></i></a></li>
                            <li class="social-item"><a href="https://www.youtube.com/" target="_blank" aria-label="youtube"><i
                                        class="fa-brands fa-youtube social-item__icon"></i></a></li>
                            <li class="social-item"><a href="https://www.linkedin.com/" target="_blank" aria-label="linkedin"><i
                                        class="fa-brands fa-linkedin-in social-item__icon"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-box  team-box--first">
                    <h3 class="team-box__name">Jane Doe</h3>
                    <p class="team-box__profession">Vice President</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-thumb">
                    <picture class="picture">
                        <source srcset="./images/team/person3.webp 1x 640w, ./images/team/person3@2x.webp 2x 1280w" sizes="640px"
                            type="image/webp">
                        <source srcset="./images/team/person3.jpg 1x 640w, ./images/team/person3@2x.jpg 2x 1280w" sizes="640px">
                        <img class="team-thumb__img" src="./images/team/person3.jpg" alt="Steve Smith" sizes="640px">
                    </picture>
                    <div class="team-thumb__overlay">
                        <ul class="social-list list">
                            <li class="social-item"><a href="https://www.facebook.com/" target="_blank" aria-label="facebook"><i
                                        class="fa-brands fa-facebook social-item__icon"></i></a></li>
                            <li class="social-item"><a href="https://www.twitter.com/" target="_blank" aria-label="twitter"><i
                                        class="fa-brands fa-twitter social-item__icon"></i></a></li>
                            <li class="social-item"><a href="https://www.youtube.com/" target="_blank" aria-label="youtube"><i
                                        class="fa-brands fa-youtube social-item__icon"></i></a></li>
                            <li class="social-item"><a href="https://www.linkedin.com/" target="_blank" aria-label="linkedin"><i
                                        class="fa-brands fa-linkedin-in social-item__icon"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-box  team-box--first">
                    <h3 class="team-box__name">Steve Smith</h3>
                    <p class="team-box__profession">Marketing Head</p>
                </div>
            </li>
        </ul>
    </div>
</section>