.blog{
    // padding: 40px 0px;
    padding-bottom: 40px;
    background: $third-background-section;

    &::before {
            display: block;
            content: " ";
            width: 100%;
            max-width: 670px;
            height: 220px;
            margin-bottom: 40px;
    
            @media screen and (max-width: $tablet - 1px) {
                background-image: url('../images/home/blog.jpg');
            }
    
            @media (min-device-pixel-ratio: 2) and (max-width: $tablet - 1px),
            (min-resolution: 192dpi) and (max-width: $tablet - 1px),
            (min-resolution: 2dppx) and (max-width: $tablet - 1px) {
                background-image: url('../images/home/blog@2x.jpg');
            }
    
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    &__data{
        font-weight: 400;
            font-size: 18px;
            line-height: 1.66;
            margin-bottom: 8px;
    }
    &__title{
        font-weight: 300;
            font-size: 38px;
            line-height: 1.26;
            margin-bottom: 24px;
    }
    &__text{
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 24px;
    }
    &__button{
        &:hover,
            &:focus {
              color: $third-background-section;
              background: $main-text-color;
              border: 1px solid $third-background-section;
            }
    }
}