.contact{
    padding-bottom: 40px;
    color: $third-text-color;
    background: $fourth-background-section;
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px){
        display: flex;
    }

    &::before{
        display: block;
        content: " ";
        width: 100%;
        max-width: 670px;
            height: 220px;
            @media screen and (max-width: $tablet - 1px) {
        margin-bottom: 40px;    
            background-image: url('../images/home/contact.jpg');
        }
    
        @media (min-device-pixel-ratio: 2) and (max-width: $tablet - 1px),
        (min-resolution: 192dpi) and (max-width: $tablet - 1px),
        (min-resolution: 2dppx) and (max-width: $tablet - 1px) {
            background-image: url('../images/home/contact@2x.jpg');
        }
        @media screen and (min-width: $tablet) and (max-width: $desktop - 1px){
            height: 354px;
            max-width: 368px;
            background-image: url('../images/home/contact.jpg');
        }
                @media (min-device-pixel-ratio: 2) and (min-width: $tablet) and (max-width: $desktop - 1px),
                (min-resolution: 192dpi) and (min-width: $tablet) and (max-width: $desktop - 1px),
                (min-resolution: 2dppx) and (min-width: $tablet) and (max-width: $desktop - 1px){
                            background-image: url('../images/home/contact@2x.jpg');
                }
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
&__container{
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
            padding-top: 40px;
        }
}
    &__title{
        font-weight: 300;
            font-size: 38px;
            line-height: 1.26;
            margin-bottom: 32px;
    }
    &__button{
        margin: 0 auto;
        padding: 10px 116px;
        height: 42px;
        width: 280px;
        font-size: 16px;
        line-height: 1.38;
        
        @media screen and (min-width: $tablet) and (max-width: $desktop - 1px){
            font-size: 18px;
                line-height: 1.39;
                width: 336px;
                height: 42px;
                padding: 10px 146px;
        }
    }
}
