.contact{
    padding-bottom: 40px;
    color: $third-text-color;
    background: $fourth-background-section;

    &::before{
        display: block;
        content: " ";
        width: 100%;
        max-width: 670px;
            height: 220px;
            margin-bottom: 40px;    
    @media screen and (max-width: $tablet - 1px) {
            background-image: url('../images/home/contact.jpg');
        }
    
        @media (min-device-pixel-ratio: 2) and (max-width: $tablet - 1px),
        (min-resolution: 192dpi) and (max-width: $tablet - 1px),
        (min-resolution: 2dppx) and (max-width: $tablet - 1px) {
            background-image: url('../images/home/contact@2x.jpg');
        }
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__title{
        font-weight: 300;
            font-size: 38px;
            line-height: 1.26;
            margin-bottom: 32px;
    }
    &__button{
        margin: 0 auto;
        padding: 10px 116px;
        height: 42px;
        width: 280px;
        font-size: 16px;
        line-height: 1.38;
    }
}
